/* body {
    background-color:green;
    color: red;
}
img{
    width: 300px;
    display: block;
}
input{
    width: 300px;
    display: block;
}
.card{
    color: #000;
    background-color: aqua;
    width: 300px;
    border: 100px red;
    border-radius: 50px;
} */

button{
    line-height: 30px
    ;
    color: black;
    border: 1px solid red;
    background: white;
    border-radius: 10px;
    padding-top: 1px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;

}
